body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.calendar-app {
  display: flex;
}

.calendar-container {
  padding: 10px;
}


.calendar-month {
  text-align: center;
  font-size: 24px;
}

.calendar-tile-active {
  background: #006edc !important;
}

.calendar-tile-holiday {
  background: red !important;
}

.calendar-controlpanel {
  display: flex;
}

.calendar-control {
  padding: 10px;
}
